* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff6f9;
  color: #333;
  line-height: 1.6;
}
.navbar {
  background: #ffdde1;
  padding: 15px 30px;
  display: flex;
  align-items: center;

}

.logo {
 
  font-family: "Engagement", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ff6f91;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 40px;
}


.nav-links {
  flex: 1;
  display: flex;        
  justify-content: center;

}


.navbar ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li:hover a {
    background: #ff6f91;
    color: white;
    padding: 10px 10px;
    border-radius: 10px 0px 10px 0px;
    transition: ease-in-out 0.3s;
    
}

.navbar a {
    text-decoration: none;
    color: #333333bf;
  
    
}
